body {
  margin: 0px;
  font-family: 'Archivo Black', sans-serif;
  background-color: #fcfcfc;
}

form {
  margin: 12px;
  width: 55vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive {
  display: none !important;
}

#picHalf {
  background-color: #003996;
}

.picHalf {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0vh;
  left: 0vw;
}

.descrHalf {
  position: absolute;
  left: 50%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.locationSub {
  margin-left: 10%;
}

.locationP {
  margin-left: 15%;
}

.locationTitle {
  margin: 10px 30px;
  color: #fcfcfc;
  font-size: 48px;
  margin-top: 0px;
}

.backButton {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  position: fixed;
  top: 4vh;
  left: 3vw;
}

.eventsPage {
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.title {
  font-size: 85px;
  letter-spacing: 3px;
  color: #003996;
  margin: 0px;
  position: relative;
}

.inputIt {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-bottom: 2px solid black;
  margin: 5px;
  width: 50vw;
  text-align: center;
  font-size: 28px;
}

.inputIt:focus {
    outline: 0 !important;
}
